.myfont{
    font-family: 'myfont';
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #a6e1ec;  /*Sets the text hover color on navbar*/
}

a:hover{
    text-decoration:none!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #FFFFFF;
}

.navbar-default {
    background-color: #246cb6;
    border-color: #246cb6;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #000000;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
    }

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.logo{
    /*ackground-image: url("../img/logo.png");*/
    height: 0px;
    width: auto;
    margin-top: -5px;
}
.logo img {
    height: 33px;
    width: 90px;
}

.container {
    width: 98%;
}

.panel-default > .panel-heading {
    background-color: #000000;
    border-color: #ddd;
    color: #FFFFFF;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px 10px;
}

.header-height{
    display: block;
    clear: both;
    height: 50px;
}

.header-text-login{
    background-color: #246cb6;
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 4px;
}

.header-text{
    background-color: #575757;
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 4px;
}

.head-text{
    color: #FFFFFF;
    font-size: 18px;
}

.sweet-alert h2{
    font-family: 'myfont' !important;
    font-size: 22px !important;
}

.logo_img {
    float: left;
    margin-top: -2px;
}

.logo_text_header {
    color: #FFFFFF;
    font-size: 20px;
    margin: -5px 0 0;
    padding: 0;
}

.logo_text_border {
    border-bottom: 1px solid #FFFFFF;
    margin-top: 0px;
    margin-bottom: 3px;
}

.logo_text_sub {
    color: #FFFFFF;
    font-size: 14px;
    margin: -6px 0 0;
    padding: 0;
}

.container-login{
    margin-top: 80px;
}

.panel-body{
    border: 1px;
    background: #FFFFFF;
}

.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

.btn-login {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    border-color: #1CB94A;
    font-size: 18px;
    display: block;
    margin-top: 20px;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.btn-login1 {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    border-top-color: rgb(172, 41, 37);
    border-right-color: rgb(172, 41, 37);
    border-bottom-color: rgb(172, 41, 37);
    border-left-color: rgb(172, 41, 37);

    outline: none;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin-top: 20px;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.btn-login1:hover,
.btn-login1:focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #ac2925;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-group-addon {
    background-color: #ffffff;
}

.panel-info{
    border-color: #e2e2e2;
}

.form-control{
    width: 100%;
}

.input-file{
    margin-top: 7px;
}

.img-circle {
    height: 180px;
    width: 180px;
}

.modal-header{
    padding: 11px 10px!important;
    background-color: #575757;
    color: #ffffff;
    border-radius: 4px;
}

.form-planbudget{
    border: 1px solid #e2e2e2;
    padding:10px 10px;
}

.navbar-title{
    border: 1px solid #e2e2e2;
    background-color: #e2e2e2;
    padding-left: 0;
    padding-right: 0;
}

.text-middle{
    vertical-align: middle!important;
}

.tabs-left .nav-tabs>li{
    display: block;
    float: none;
}
.tabs-left .nav-tabs>li.active>a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.checkbox {
    padding-left: 20px;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.site-breadcrumb {
    background-color: #f5f5f5;
    position: absolute;
    display: inline;
    top: 57px;
    right: 15px;

}
.site-breadcrumb::after {
    clear: both;
    content: " ";
    display: table;
}

.site-breadcrumb1 {
    background-color: #f5f5f5;
    /*position: absolute;*/
    /*display: inline;*/
    /*top: 57px;*/
    /*right: 15px;*/

}
.site-breadcrumb1::after {
    /*clear: both;*/
    content: " ";
    /*display: table;*/
}

.breadcrumb {
    padding: 13px 15px;
    margin-bottom: 0px !important;
    list-style: none;
    border-radius: 4px;
    background-color: #f5f5f5 !important;
}

.tabs-left{
    border: 1px solid #e2e2e2;
}

.link-breadcrumb{
    color: #333;
}

.font-color-red{
    color: #b00;
    font-weight: bold;
}

.shadow{
    -moz-box-shadow:0px 2px 0px 0px #f0f0f0;
    -webkit-box-shadow:0px 2px 0px 0px #f0f0f0;
    box-shadow:0px 0px 2px 0px #f0f0f0;
}
textarea {
    resize: none;
}
.dis-my-input {
    pointer-events:none;
    background-color: #f2f2f2;
}
.my-table tr th,.my-table tr td{font-size:13px;}
.my-table tr td{padding:2px!important;}
.my-text{border:1px solid #ccc;border-radius:0;padding:2px;width:100%;font-size:12px;}
.my-table .select2-container--default .select2-selection--single{border:1px solid #ccc;border-radius:0;height:24px;}
.my-table .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:11px;line-height:25px;}

.disable-select input,
.disable-select input.form-control,
.disable-select textarea,
.disable-select textarea.textarea-control,
.disable-select select.form-control,
.disable-select .select2-container .select2-selection--single{
    pointer-events:none !important;
    border: 1px solid #f0f0f0 !important;
    resize: none;
    margin-top: 2px;
    background-color: #f9f9f9;
}

.disable-select .select2-container--default .select2-selection--single .select2-selection__clear,
.disable-select .select2-container--default .select2-selection--single .select2-selection__arrow,
.disable-select .btn-remove{
    display: none !important;
}

.div-for-picker {
    position: relative  !important;
    }
.div-for-picker > i{
    position: absolute; !important;
    top: 9px  !important;
    right:4px!important;
}

.site-breadcrumb-management {
    background-color: #f5f5f5;
    display: inline;
    position: absolute;
    right: 1px;
    top: -39px;
}

.site-breadcrumb-management::after {
    clear: both;
    content: " ";
    display: table;
}

.box_css3_raduis1 {
    border:solid 1px #337ab7;
    width:100%;
    height:30px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background:#337ab7;
}

.box_css3_raduis {
    border:solid 1px #f07c4a;
    width:100%;
    height:30px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background:#f07c4a;
}



